:root {
    --font-h1: 6.4rem;
    --font-h2: 2.5rem; 
    --head-font: 'Roboto', sans-serif;
    --body-font: 'Nunito', sans-serif;
    --bgcolor-btn: #645cff;
    --bgcolor-btn-hover: #3c3799;
    --radius: 0.4rem;
    --grey-A: #0f172a;
    --grey-B: #334155;
    --grey-C: #64748b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    font-family: var(--body-font);
    color: #000;
}

/* GENERAL SETTING */

h1, h2, h3, h4 {
    font-family: var(--head-font);
    font-weight: 400;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.capitalize {
    text-transform: capitalize;
}

.btn {
    background-color: var(--bgcolor-btn);
    border-radius: var(--radius);
    text-align: center;
    color: #fff;
    padding: 0.7rem 1.8rem;
    display: inline-block;
}

.btn:hover {
    background-color: var(--bgcolor-btn-hover);
}

/* MAIN SECTION */
main {
    width: 85vw;
    margin: 3rem auto;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.header-nav-left ul {
    align-items: center;
    gap: 2.5rem;
}

.header-nav-left ul img {
    width: 200px;
    margin-right: 2.5rem;
}

.header-nav-left ul a {
    color: var(--grey-A);
}

/* HERO SECTION */
.hero {
    background-image: url('../Image/hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: var(--radius);
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero .textBox h1 {
    font-size: var(--font-h1);
    margin-bottom: 2rem;
}
.hero .textBox h2 {
    font-size: var(--font-h2);
}

